$orange: #DD5228;
$light: #fff;
$dark: #262629;

/* /* Together We Can Reimagine Inovation */

position: absolute;
width: 862px;
height: 160px;
left: 289px;
top: 3122px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 80px;
/* or 123% */
text-align: center;

color: rgba(38, 38, 41, 0.9); */

